*{
    box-sizing: border-box;    
    /*border: 1px dotted black;*/
}
a:visited 
{
    color: black;
}
body{
    margin: 0;
}
.perfectcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: grid;            

    /*full screen*/
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /*full screen end*/
}
.grid-item-title a{
    text-decoration: none;
}

/*Big Screen*/
@media (min-width: 870px){    
    .grid-container{
        grid-template-columns: 274px auto 274px;
        grid-template-rows: 65px calc(100% - 105px) 40px;
    }
    .grid-item-content{
        grid-column: 2/4;            
    }
    .grid-item-system{
        grid-column: 1/4;
        display: flex;
        background-color: rgb(245, 246, 248);
    }
}

/*Small Screen*/
@media (max-width: 869px){
    .grid-container{
        grid-template-columns: auto;
        grid-template-rows: 65px 65px 65px auto;
    }
    .grid-item-logo, .grid-item-content, .grid-item-menu, .grid-item-subtitle, .grid-item-title, .grid-item-system{
        grid-column: 1/2;
    }
    .grid-item-title{
        justify-content: center;
        padding-left: 0;
    }
    .grid-item-subtitle{
        padding-right: 0;
    }
    .grid-item-content{                
        display: none; /*display: grid; on module select only by JS*/
        grid-template-columns: 1;
        grid-template-rows: calc(100% - 65px) 65px;
    }
    .grid-item-system{
        display: none;
    }
}
.grid-item-menu{
    overflow-y: scroll;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.grid-item-title{
    display: flex;
    align-items: center;

    padding-left: 24px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: normal;
}
.grid-item-subtitle{
    padding-right: 24px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.systembutton {
    width: 40px;
    height: 40px;
    border: 0px;
    background-color: rgb(245, 246, 248);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.systembutton:hover{
    background-color: gainsboro;
}
.siglescreenshot{
    /* to fit image: along with .grid-item-content{overflow: hidden;}*/
    max-width: 100%;
    max-height: calc(100% - 40px);
}

.menumastermodule{
    margin-bottom: 16px;
}
.menumaster{
    background-color: aliceblue;
    display: flex;
    align-items: center;
}
.menumastericon{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.modules{
    display: flex;
    flex-direction: column;
}
.module{
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-top: 3px;
    padding-bottom: 3px;    
}
.reportmodule{
    padding-left: 40px;
}
.moduleicon{
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.moduletext{
    padding-left: 6px;
    cursor: pointer;
}
.moduletext a{
    text-decoration: none;
}
#whatisraptoroid, #inventory, #hospital, #hotel, #travels, #users{
    padding: 24px;
    overflow-y: scroll;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
#backbutton{
    border: 0;
    background-color: aliceblue;
    padding: 0;

    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */

}