*{
    /*outline: 1px dotted black;*/
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: normal;
}
body{
    margin: 0;
}
.main-grid-container{
    display: grid;
    height: 100vh; /*vh?*/
    width: 100vw;
    grid-template-columns: 449px auto;
    grid-template-rows: 40px auto 65px 40px;
}
.main-grid-item-header{
    background-color: aliceblue;
    grid-column: 1/3;
}
.main-grid-item-opregister{
    background-color: white;
    grid-column: 1/2;
    padding: 20px;
}
.header-flex-container{
    height: 100%;
    display: flex;
}
.perfectcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modulelogo{
    width: 40px;
}
.modulecaption{
    padding-left: 20px;
}
.opsearchbutton{
    width: 105px;
    margin-left: auto; /*right align*/
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.opsearchbutton:hover{
    background-color: cadetblue;
    color: white;
}
.opregister-grid{
    display: grid;
    grid-template-columns: 100px auto;
    gap: 6px;
}
.opregister-grid-item-caption{
    color: teal;
}
.opregister-grid-item-input{

}
.opregisterbuttons{
    grid-column: 1/3;
    display: flex;
    flex-direction: row-reverse;
    gap: 6px;
}
.opregisterbutton{
    width: 65px;
    height: 40px;
    border: 0;
    background-color: aliceblue;
}
.opregisterbutton:hover{
    background-color: cadetblue;
    color: white;
}
.dob-age-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.agemonthdayinput{
    width: 40px;
}
.dobinput{
    width: 100px;
}
.yearcaptioninput, .monthcaptioninput, .daycaptioninput {
    display: inline-flex;
    flex-direction: column;
}
.agecaption{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 6px;
}
.age{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.dobcaption{
    display: flex;
    align-items: flex-end;
    padding-bottom: 6px;
}
.main-grid-item-quickaccess{
    background-color: rgb(245, 246, 248);
    grid-column: 1/3;
    display: flex;    
}
.quickaccessbutton{
    width: 170px;    
    border: 0px;
    background-color: rgb(245, 246, 248);
}
.quickaccessbutton:hover{
    background-color: gainsboro;
}
.main-grid-item-systemcontrols{
    background-color: rgb(245, 246, 248);
    grid-column: 1/3;
    display: flex;
}
.systembutton{
    width: 40px;    
    border: 0px;
    background-color: rgb(245, 246, 248);
}
.systembutton:hover{
    background-color: gainsboro;
}
.main-grid-item-patientdetails{
    background-color: white;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-left: 1px solid rgb(245, 246, 248);
}
.patientdetailstabs{
    height: 25px;
    display: flex;
}
.patientdetailstabsbutton{
    border: 0;
    margin-right: 1px;
    margin-top: 1px;
    background-color: aliceblue;
}
.patientdetailstabsbutton:hover{
    background-color: cadetblue;
    color: white;    
}
.patientdetailscontent{
    height: 100%;
}
.patientdetailscontrols{
    margin-top: auto;
    height: 40px;
    background-color: rgb(245, 246, 248);
    display: flex;
}
.addbutton{
    width: 65px;
    margin-left: auto;
    border: 0;
    background-color: white;
}
.addbutton:hover{
    background-color: gainsboro;
}